In [1]:
import pandas as pd

In [2]:
heart = pd.read_csv('heart.csv')

In [3]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [30]:
y = heart[['restecg']]

In [31]:
x = heart[['chol']]

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
dtc = DecisionTreeClassifier()

In [36]:
dtc.fit(x_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [37]:
y_pred = dtc.predict(x_test)

In [38]:
y_test.head()

     restecg
111        1
65         1
242        0
26         1
123        0

In [39]:
y_pred[0:5]

array([1, 1, 0, 0, 1])

In [40]:
from sklearn.metrics import confusion_matrix

In [41]:
confusion_matrix(y_test, y_pred)

array([[21, 19,  0],
       [24, 25,  0],
       [ 0,  2,  0]])

In [43]:
(21+25+0)/(19+0+24+0+2)

1.0222222222222221

In [44]:
heart.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [57]:
y = heart[['trestbps', 'chol']]

In [58]:
x = heart[['thalach']]

In [59]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.3)

In [60]:
from sklearn.tree import DecisionTreeRegressor

In [61]:
dtr = DecisionTreeRegressor()

In [62]:
dtr.fit(x_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [63]:
y_pred = dtr.predict(x_test)

In [64]:
y_test.head()

     trestbps  chol
288       110   335
4         120   354
16        120   340
13        110   211
21        130   233

In [65]:
y_pred[0:5]

array([[128.66666667, 225.        ],
       [127.33333333, 242.5       ],
       [120.4       , 250.6       ],
       [126.66666667, 221.16666667],
       [121.        , 251.5       ]])

In [66]:
from sklearn.metrics import mean_squared_error

In [67]:
mean_squared_error(y_test, y_pred)

1768.0431605796573