In [1]:
import pandas as pd

In [2]:
CarData = pd.read_csv('car.csv')

In [10]:
CarData.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [6]:
y = CarData[['Present_Price']]

In [7]:
x = CarData[['Selling_Price', Km]]

In [8]:
from sklearn.linear_model import LinearRegression

In [11]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

In [14]:
lr = LinearRegression()

In [15]:
lr.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = lr.predict(x_test)

In [18]:
y_test.head()

     Present_Price
141           0.80
96           25.39
254           9.90
214           5.70
171           0.55

In [19]:
y_pred[0:5]

array([[ 0.74896017],
       [35.02146369],
       [ 8.65799945],
       [ 8.65799945],
       [ 0.40878644]])

In [20]:
from sklearn.metrics import mean_squared_error

In [22]:
mean_squared_error(y_test, y_pred)

21.679382784168148